<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FSKeyCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FSKeyCommon.Properties.FsKeySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FSKeyCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FSKeyCommon.Properties.Settings>
            <setting name="serverPort" serializeAs="String">
                <value>9000</value>
            </setting>
        </FSKeyCommon.Properties.Settings>
        <FSKeyCommon.Properties.FsKeySettings>
            <setting name="portNum" serializeAs="String">
                <value>35488</value>
            </setting>
        </FSKeyCommon.Properties.FsKeySettings>
    </userSettings>
    <applicationSettings>
        <FSKeyCommon.Properties.Settings>
            <setting name="serviceName" serializeAs="String">
                <value>FSKeyService</value>
            </setting>
        </FSKeyCommon.Properties.Settings>
    </applicationSettings>
</configuration>